body {
    background-color: #11121D;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: #e53265;
}

h2 {
    color: #e53265;
}

#title {
    text-align-last: center;
}

.textbox {
    padding: 5px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2%;
    padding: 2%;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}

.namecontainer1 {
    border: solid;
    border-radius: 10px;
    width: 28%;
    padding: 1%;
    text-align: center;
}

.numbercontainer2 {
    border: solid;
    border-radius: 10px;
    width: 28%;
    padding: 1%;
    text-align: center;
}

.passwordcontainer1 {
    border: solid;
    border-radius: 10px;
    width: 28%;
    padding: 1%;
    text-align: center;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
}

P {
    padding: 1%;
}

#footer-text {
    text-align: center;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background:#11121D;
 }